
.payments {
    min-width: 600px;
    width: 60%;
    margin: 0 auto;
    background: lightsteelblue;
    padding: 30px;
}

.payments h5 {
 text-align: left;
}

.payment {
    display: flex;
    margin: 15px;
    background: aliceblue;
    padding: 15px
}

.payment_left {
    flex-basis: 40%;
    text-align: left;
}

.payment_middle {
    flex-basis: 40%;
}

.payment_right {
    text-align: right;
    flex-basis: 20%;
    margin: auto 0;
}

.userLogo{
    flex-basis:50%;
    text-align: left;
    display: table-cell;
    vertical-align: middle;
}

.divider {
    clear: both;
}
.userPanel {
    display: flex;
    padding: 50px;
    justify-content: center;
    align-items: center;
}

.userInfo {
    flex-basis: 50%;
    text-align: right;
    margin: 25px;
}

.categories{
    display: block;
}
.category-checkbox-button{
    display: inline-block;
    height: 50px;
}
.category-checkbox-button span{
    margin: 5px;
    padding: 10px 25px;
    background-color: #EFEFEF;
    border-radius: 4px;
    border: 1px solid #D0D0D0;
    text-align:center;
    color: black;
}

.category-checkbox-button:hover > span{
    background: lightskyblue;
    color: black;
}

.category-checkbox-button input:checked + span {
    background-color: royalblue;
    color: white;
}

.Table {
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 60%;
}

.Table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: royalblue;
    color: white;
}

.Table td, .Table th {
    border: 1px solid white;
    padding: 8px;
}

.Table tr{background-color: lightskyblue;}

.Table tr:hover {background-color: steelblue;}

@media (max-width: 640px) {

    .payments {
        width: 100%;
        min-width: 0px;
    }
    .payment {
        flex-direction: column;
    }

    .payment_left, .payment_right {
        text-align: center;
    }
}