.Table {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 60%;
}

.Table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: royalblue;
    color: white;
}

.Table td, .Table th {
    border: 1px solid white;
    padding: 8px;
}

.Table tr{background-color: lightskyblue;}

.Table tr:hover {background-color: steelblue;}


